/* Banner Viewport -- Tablet */

body {
  background-color: white;
}

.viewport {
  position: relative;
  display: block;
  font-family: 'Edmondsans Regular', sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

[role=navigation] {
  position: absolute;
  width: 100%;
}

[role=navigation] ul.navItems {
  display: none;
}

[role=menu] {
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

section .wrapper h3 {
  width: auto;
  padding-left: 0;
  margin-left: 18%;
  line-height: 6;
}

.darkMode {
  right: 0;
}

section.peopleView { margin-bottom: -30px; }

section.mainView {
  background-color: white;
}

section.peopleView {
  background-color: var(--bgcolor);
}

body[data-theme=dark] section.mainView .wrapper h3 span {
  border-top: 5.75px solid var(--mainViewHeadingColor);
}

body section.mainView .wrapper h3 span {
  border-top: 5.75px solid var(--mainViewHeadingColor);
}

body section.mainView .wrapper h3.sectionHeaderContainer span {
  color: var(--mainViewHeadingColor);
}

body[data-theme=dark] section.mainView .wrapper h3.sectionHeaderContainer {
  color: var(--mainViewHeadingColor);
}

/* Header */

.mainBannerHeading h1 {
  font-family: 'Whyte Heavy', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 500%;
  line-height: 80%;
  direction: ltr;
  margin: 0;
  padding: 0 15px;
  flex-direction: row;
}

.mainBannerHeading h2 {
  font-family: 'Silverline', sans-serif;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: -1.4px;
  font-size: 140%;
  line-height: 80%;
  direction: ltr;
  margin: 0;
  padding: 80px 5px 0 30px;
  flex-direction: row;
  font-variant-ligatures: normal;
  width: 155px;
  height: 110px;
  background-color: var(--mainbannerheaderbgcolor);
  color: var(--mainviewbgcolor);
  border-radius: 100%;
  white-space: normal;
}

/* Main Viewport -- Mobile */

.mainView .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  /*padding-top: 1em;*/
  cursor: pointer;
  min-height: 550px;
  width: auto;
}

.mainView .card {
  flex: 1;
  height: auto;
  width: 245px;
  position: absolute;
}

.mainView .cardActive {
  position: absolute;
  z-index: 10;
  left: 33ch;
}

.mainView .cards .card:first-child,
.mainView .cards .card:nth-child(2),
.mainView .cards .card:nth-child(4),
.mainView .cards .card:last-child {
  margin-left: 0;
  margin-right: 0;
  left: 33ch;
}

/* People Circles */

ol.peopleCircles {
  flex-direction: column;
}

ol.peopleCircles li {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15ch;
  height: auto;
}

ol.peopleCircles li:nth-child(2) {
  height: auto;
  flex-basis: 15ch;
}

ol.peopleCircles li span {
  width: 120px;
  height: 120px;
}

/* Services & 3 columns */

ul.servicesList {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  min-height: 550px;
  max-width: 100%;
}
