:root {
  --bgcolor: rgb(251,251,251);
  --textcolor: rgb(55,55,55);
  --headerbg: rgb(255,255,255);
  --footerbgcolor: rgb(55,55,55);
  --footertextcolor: rgb(251,251,251);
  --menuitemtextcolor: rgb(5,5,5);
  --menuitemactivecolor: rgb(112,112,112);
}

html {
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--bgcolor);
  color: var(--textcolor);
}

@supports (background-color: var(--bgcolor)) {
    body[data-theme=dark] {
      --bgcolor: rgb(28,29,27);
      --textcolor: rgb(235,235,235);
      --headerbg: rgb(23,23,23);
      --footerbgcolor: rgb(23,23,23);
      --footertextcolor: rgb(205,205,205);
      --menuitemtextcolor: rgb(255,255,255);
      --menuitemactivecolor: rgb(222,222,222);
    }
}

main, .viewport {
  width: 100%;
  padding-bottom: 80px;
}

/* Reset */

p {
  padding: 0;
  margin: 0;
}

a, a:visited, button {
  outline: none;
}

/* Header Viewport */

[role=navigation] {
  position: fixed;
  background-color: var(--headerbg);
  font-size: 16px;
  height: 30px;
  width: 100%;
  padding: 1.6em 0;
  z-index: 100;
}

.wrapper {
  position: relative;
}

[role=menu] {
  position: absolute;
  right: 0px;
  top: -12px;
  display: none;
}

nav ul.navItems {
  float: right;
  list-style: none;
  display: inline-flex;
  flex: auto;
  flex-direction: row;
  font-size: 14px;
  margin: 0 1.9em 0 0;
  padding: 0 0 0 3em;
}

[role=menuitem] {
  align-items: flex-start;
  flex: 1;
  order: 1;
  padding-left: 1em;
  text-align: right;
  line-height: 1.8em;
}

[role=menuitem] a {
  text-decoration: none;
  font-weight: 500;
  color: var(--menuitemtextcolor);
}

[role=menuitem]:first-child a {
  color: color: var(--menuitemactivecolor);
}

nav a.logotype {
  font-family: 'Roboto', sans-serif;
  color: var(--menuitemtextcolor);
  font-weight: 700;
  text-align: left;
  display: inline-flex;
  padding-left: 1.5em;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.8em;
  text-decoration: none;
}

.mainBanner {
  background-image: url('../img/banner-desktop.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0e2b3b;
  cursor: pointer;
}

.mainBannerHeading {
  background-color: rgb(239,84,84);
  -webkit-mask: url('../img/think-decide-create.svg') no-repeat 50% 50%;
  mask: url('../img/think-decide-create.svg') no-repeat 50% 50%;
  height: 500px;
  width: 500px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 40vh;
  margin-top: -250px;
}

.mainBannerContent {
  position: absolute;
  height: auto;
  width: 100%;
  left: 0;
  top: 60vh;
  text-align: center;
  padding-top: 1.8vw;
}

.mainBannerContent h1 {
  font-family: 'Montserrat';
  color: white;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.mainBannerContent h3 {
  font-family: 'Montserrat';
  color: white;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.mainBannerContent button {
  background-image: linear-gradient(to bottom right, rgb(0,160,90), rgb(0,130,73));
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
  letter-spacing: 0.02em;
  height: 2.8em;
  padding: 0 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.mainBannerContent button:hover {
  background-image: linear-gradient(to bottom right, rgb(0,130,73), rgb(0,160,90));
}

.mainBannerContent button:active {
  background-image: linear-gradient(rgb(0,160,90), rgb(0,160,90));
}

/* Main Viewport */

.mainView {
  height: 80vh;
  cursor: pointer;
  position: relative;
}

.mainView .wrapper {
  cursor: pointer;
}

.mainView .wrapper h3 {
  margin-left: 0;
  padding-left: calc(1.5em + 45px);
  margin-top: 2em;
  margin-bottom: 1em;
  cursor: pointer;
}

.mainView .wrapper p {
  margin-left: 0;
  padding-left: calc(1.75em + 45px);
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.mainView .cards {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  margin: 0 3em;
  overflow: hidden;
  padding: 0;
  padding-top: 1em;
  cursor: pointer;
  height: 315px;
}

.mainView .cards .card {
  flex: 1;
  width: 210px;
  height: 280px;
  background-color: rgb(239, 84, 84);
  border-radius: 6px;
  align-self: center;
  align-content: stretch;
}

.mainView .cards .card02,
.mainView .cards .card04 {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.mainView .cards .cardActive {
  width: 245px;
  height: 310px;
  background-image: url('../img/temp-card-03.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Dark Mode Switch */

.darkMode {
  display: block;
  position: absolute;
  top: -4%;
  right: -4%;
  width: 110px;
}

.darkModeLabel {
  font-size: 0.785em;
  line-height: 25px;
  height: 35px;
  margin: 0em 0 0 1em;
  vertical-align: top;
  color: #777;
  display: inline-flex;
  visibility: hidden;
}

.OnOffSwitch {
    width: 3em;
    display: inline-block;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.OnOffSwitchCheckbox {
    display: none;
}
.OnOffSwitchLabel {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; width: 55px; padding: 0; line-height: 20px; top: 5px; margin-top: 0;
    border: 2px solid rgba(200,200,200,0.3); border-radius: 20px;
    background-color: #eeeeee;
    vertical-align: top;
    transition: background-color 0.1s ease-in;
}
.OnOffSwitchLabel:before {
    content: "";
    vertical-align: top;
    display: block; width: 22px; height: 22px;
    background: #fff;
    position: absolute; top: 50%; bottom: 0; margin-top: -32px;
    right: 83px;
    border: 2px solid rgba(99,99,99,1); border-radius: 20px;
    transition: all 0.1s ease-in 0s;
}
.OnOffSwitchCheckbox:checked + .OnOffSwitchLabel {
    background-color: rgb(209, 84, 84);
}
.OnOffSwitchCheckbox:checked + .OnOffSwitchLabel, .OnOffSwitchCheckbox:checked + .OnOffSwitchLabel:before {
   border-color: rgba(200, 74, 74, 0.8);
}
.OnOffSwitchCheckbox:checked + .OnOffSwitchLabel:before {
    right: 50px;
}

/* Footer */

footer {
  background-color: var(--footerbgcolor);
  color: var(--footertextcolor);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 300;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 48px;
  padding-top: 32px;
  text-align: center;
  vertical-align: middle;
}

footer span {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
