/* Banner Viewport -- Desktop */

.viewport {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.mainView, .peopleView, .servicesView {
  padding-top: 1em; /* Unexpected BoxHack Bug */
}

[role=navigation] {
  background-color: var(--headerbg);
  position: absolute;
  width: 100%;
}

.navItems {
  display: flex;
  align-items: center;
  flex-direction: row;
}

[role=menu] {
  display: none;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Main Viewport -- Desktop */
