/* Banner Viewport -- Mobile Small */

.viewport {
  position: relative;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

[role=navigation] {
  position: absolute;
  width: 100%;
}

[role=navigation] ul.navItems {
  display: none;
}

[role=menu] {
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.mainBanner {
  height: 100vh;
  position: relative;
  background-clip: content-box;
  background-size: cover;
  background-position: top center;
}

.mainBannerHeading {
  width: 400px;
  height: 400px;
  left: 50%;
  margin-left: -200px;
  top: 60%;
  margin-top: -220px;
}

.mainBannerContent h1 {
  margin-top: -1.7em;
  font-size: 1.6em;
  font-weight: 700;
}

.mainBannerContent h3 {
  font-size: 1.1em;
  font-weight: 500;
}

.mainBannerContent button {
  font-size: 1.25em;
  height: 3.2em;
  padding: 0 30px;
  margin-top: 1em;
  border-radius: 5px;
}

/* Main Viewport -- Mobile Small */

.mainView .cards {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 300px;
  overflow: visible;
}

.mainView .card {
  flex: 1;
  height: auto;
  position: absolute;
}

.mainView .cardActive {
  position: absolute;
  z-index: 10;
}

.mainView .cards .card01 {
  top: 10px;
  right: 38%;
  margin: 0;
  z-index: 1;
}

.mainView .cards .card02 {
  top: 5px;
  right: 38%;
  margin: 0;
  z-index: 2;
}

.mainView .cards .card04 {
  top: 0px;
  right: 38%;
  margin: 0;
  z-index: 0;
}

.mainView .cards .card05 {
  top: -10px;
  right: 38%;
  margin: 0;
  z-index: -1;
}

.darkMode {
  top: 0;
  right: 0;
}
.darkModeLabel {
  visibility: hidden;
}
