/* Banner Viewport -- Tablet */

body {
  background-color: white;
}

.viewport {
  position: relative;
  display: block;
  font-family: 'Edmondsans Regular', sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

[role=navigation] {
  position: absolute;
  width: 100%;
}

[role=navigation] ul.navItems {
  display: none;
}

[role=menu] {
  display: block;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

section .wrapper h3 {
  width: auto;
  padding-left: 0;
  margin-left: 18%;
  line-height: 6;
}

.darkMode {
  right: 0;
}

section.peopleView { margin-bottom: -30px; }

section.mainView {
  background-color: white;
}

section.peopleView {
  background-color: var(--bgcolor);
}

body[data-theme=dark] section.mainView .wrapper h3 span {
  border-top: 5.75px solid var(--mainViewHeadingColor);
}

body section.mainView .wrapper h3 span {
  border-top: 5.75px solid var(--mainViewHeadingColor);
}

body section.mainView .wrapper h3.sectionHeaderContainer span {
  color: var(--mainViewHeadingColor);
}

body[data-theme=dark] section.mainView .wrapper h3.sectionHeaderContainer {
  color: var(--mainViewHeadingColor);
}

/* Main Viewport -- Mobile */

.mainView .cards {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 300px;
  width: 100%;
  text-align: center;
}

.mainView .card {
  flex: 1;
  height: auto;
  width: 245px;
  position: absolute;
}

.mainView .cardActive {
  position: absolute;
  z-index: 10;
  left: 33ch;
}

.mainView .cards .card:first-child,
.mainView .cards .card:nth-child(2),
.mainView .cards .card:nth-child(4),
.mainView .cards .card:last-child {
  margin-left: 0;
  margin-right: 0;
  left: 33ch;
}

ol.peopleCircles {
  flex-direction: column;
}

ol.peopleCircles li {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15ch;
  height: auto;
}

ol.peopleCircles li:nth-child(2) {
  height: auto;
  flex-basis: 15ch;
}

ol.peopleCircles li span {
  width: 120px;
  height: 120px;
}
